{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
<div class="container">
  <br>
  {% for class in classes %}
    <h3>Your Classes</h3>
    <table class="striped">
      <tr>
        <th>Name</th>
        <th>Level</th>
        <th>Credits</th>
        <th>Location</th>
        <th>Start Date</th>
        <th>End Time</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th></th>
      </tr>
      <tr>
        <td>{{ class.name }}</td>
        <td>{{ class.level }}</td>
        <td>{{ class.credits }}</td>
        <td>{{ class.location }}</td>
        <td>{{ class.start_date | date }}</td>
        <td>{{ class.end_date | date }}</td>
        <td>{{ class.start_time }}</td>
        <td>{{ class.end_time }}</td>
        <th><a href="{% url 'remove_class' class.pk %}">Remove Class</a></th>
      </tr>
    </table>
  {% empty %}
    <p>You have not signed up for any classes yet.</p>
  {% endfor %}
</div>
{% endblock %}
