<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <!-- Materialize CSS Import -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        {% if user.is_authenticated %}
          <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
          <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
          <li><a href="{% url 'login' %}">Login</a></li>
          <li><a href="{% url 'user_signup' %}">User Sign Up</a></li>
          <li><a href="{% url 'teacher_signup' %}">Teacher Sign Up</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
  {% block content %}
  {% endblock %}
</body>
</html>
