{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container">
  {% if user.userprofile.teacher %}
    <h2>Hello Teacher {{ user }}</h2>
    <a href="{% url 'create_class' %}" class="waves-effect waves-light btn">Create Class</a>
    <a href="{% url 'teacher_classes' %}" class="waves-effect waves-light btn">View Your Classes</a>
  {% else %}
    <h2>Hello Student {{ user }}</h2>
    <a href="{% url 'list_classes' %}" class="waves-effect waves-light btn">View Classes</a>
    <a href="{% url 'student_classes' user.pk %}" class="waves-effect waves-light btn">View Your Classes</a>
  {% endif %}
</div>
{% endblock %}
